.form{
  max-width: 385px;
}

.form__fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.form__labels{
  color: #000;
}

.form__input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
}

.reservation__form{
  margin: 0 auto;
}

.form__button{
  border-radius: 4px;
  margin-bottom: 32px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: #fff;
  background-color: #1878DC;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox{
  width: 20px;
  height: 20px;
}

.form__label_checkbox{
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__labels, .form__input, .form__button, .form__label_checkbox{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}