.menu{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 100px 0;
  background: center / cover no-repeat url(../images/background_menu.svg) #fff;
}

.menu__title{
  margin: 0 auto 24px;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  margin: 0 auto 100px;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards{
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}